#Dev
# VITE_APP_BASE_URL="https://solutiondd.ruijieddns.com/lpr/"

#Production
# VITE_APP_BASE_URL="https://lprapi.zoftdd.com/lpr/"

#VITE_REFRESH_TOKEN="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2N2QxMGIyY2RhYmZkNmU1ZTg3ODg1OWUiLCJkaXNwbGF5TmFtZSI6InN1bnN3ZWV0Iiwicm9sZSI6InBhcmsgYWRtaW4iLCJwYXJrIjoiNjdjYTc5NGM2MzMwYzdkMmNhN2Y1NTg1IiwiYWNjZXNzIjpbXSwic2NvcGUiOiJwYXJrIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIGNyZWRlbnRpYWwiLCJpYXQiOjE3NDIwOTE2Mjh9.C56y3CCONLCFTXuKxldIjTPmoA5Qxdvq5Uhd1WQpdzCi3NG_oHPhi9n4aE2BDqNP4S6k-iKK4hI1_x6PMCtSorYj-RUFnf6u2iJEUjL71XD8CDRRWQNdkTTUOPsHvWpFy9VSt5MWKupyHwk4R3GCx3vzG7gajHD5gOvyn9MbLGnNrPFuGH_ymYVw5oPYHiWiEtb5Bg4ntSHKo_6AUhgKJ5490jmk5TtBhdgT8JPGzk82bGM3l9_a8blcZZ70I_HxR8aSdsvLT_m9sQcZMz_5BKL3B3H3nr66sLYzxllp_Z4sZx7SmIaOVc45w0_bGiKagR-E3EVcBajh23a5JSImKg"

# VITE_ACCESS_TOKEN_WS = "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2N2QxMGIyY2RhYmZkNmU1ZTg3ODg1OWUiLCJkaXNwbGF5TmFtZSI6InN1bnN3ZWV0Iiwicm9sZSI6InBhcmsgYWRtaW4iLCJwYXJrIjoiNjdjYTc5NGM2MzMwYzdkMmNhN2Y1NTg1IiwiYWNjZXNzIjpbXSwic2NvcGUiOiJwYXJrIiwiZ3JhbnRfdHlwZSI6InBhc3N3b3JkIGNyZWRlbnRpYWwiLCJpYXQiOjE3NTkyOTQwOTR9.L3QSrCzVvy-yTvmJBAiUi-02hBId4_3kEAkH1LFm7cwVx4UtFOkfCqzGW6oiYGAJIe1JjzEJXj6ic_IJu9PQ9MInP7zHCPuXCDOyFY9yDcNqoPaWuq4wvl1qNgTsz7t7vheyQsfTs-EbCefSpNqlh0JRKLbqEB-mY_DJ4ejGRfpV5Aap5Lpxh_fAeXkdznHtuXg7jPTGnCHHpXd213i4tJGdnW0MQG_RgPkZT6q4VZ2JnAJfweyhkOZSlvEhgEjokXjZNfEHyPzZy1B_o0VzmxKboP4JOpfSJGYs-yvUThmYELAJu3QVt9_PvFCimPMem12tR_pnaNSwD5YmNDrBUg"