/* เปลี่ยนสีพื้นหลังของ SweetAlert */
.swal2-popup {
    background-color: #FAFAFA !important; /* พื้นหลังเป็นสี #424242 */
    color: rgb(97, 97, 97) !important; /* ข้อความเป็นสีขาว */
}

/* ปรับสีปุ่ม OK (ยืนยัน) */
.swal2-confirm {
    background-color:#43A047; /* ใช้ primary ของ Vuetify */
    color: white !important; /* เปลี่ยนสีฟ้อนให้เป็นสีขาว */
}

/* ปรับสีปุ่ม Cancel (ยกเลิก) ถ้ามี */
.swal2-cancel {
    background-color: #E53935 !important; /* สีเทา */
    color: white !important;
}
.card_dialog {
    width: 600px;
}
.card_width {
    width: 45%;
    border: 1px solid #dddddd; 
    background-color: rgb(255, 255, 255);
}
.card_login {
    width: 300px;
}
.body_login {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
  }
  .swal2-container {
    z-index: 20000 !important;
  }
@media only screen and (max-width: 600px) {
    .card_dialog {
        width: 350px;
    }
    .card_width {
        width: 100%;
    }
    .card_login {
        /* margin-top: 200px; */
        width: 350px;  
    }
}

@media only screen and (max-width: 900px) {
    .card_dialog {
        width: 350px;
    }
    .card_width {
        width: 100%;
    }
    .card_login {
        width: 350px;  
    }
    .body_login {
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.897);
      }
}